*{
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  font-family: "Inter", sans-serif;
}

.App{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  background-color: #181818;
  color: white;
}

.Display{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 4;
  width: 100%;
}

.Display .image{
  flex-grow: 1;
  height: 100%;
  width: 90%;
  border-radius: 30px;
  margin: 1.5rem 1rem;
}

.Display .title{
  font-weight: 500;
  font-size: 30px;
}

.Timer{
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0rem;
}

.Timer h1{
  padding: 0.6rem 2rem;
  background-color: #7300E5;
  border-radius: 50px;
  font-size: 36px;
}

h1.end-title{
  font-style: italic;
  font-weight: 600;
  margin: 3rem;
}